<!DOCTYPE html>
<html ng-app="moviebase">
<head>
    <meta charset="UTF-8"/>
    <title>MovieBase</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script async='async' src="https://apis.google.com/js/platform.js"></script>
    <meta name="google-signin-client_id" content="499994604519-bko4r5964o6hm1bst63qla0j205853ds.apps.googleusercontent.com"/>
    <script async='async' src="https://apis.google.com/js/platform.js?onload=onLoad"></script>
    <script src="js/script.js" type="text/javascript"></script>
    <script src="js/navbar.js" type="text/javascript"></script>
    <script src="js/profile.js" type="text/javascript"></script>
    <script src="js/login.js" type="text/javascript"></script>
    <script src="js/init.js" type="text/javascript"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header>
    <nav id="navigation">
    </nav>
</header>
<main>
    <div class="user-data" ng-controller="profileController">
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <div class="card white">
                    <div class="card-content">
                        <img class="profile-img" src="{{user.image}}"/>
                        <h5 class="profile-info">{{user.name}}</h5>
                        <div class="profile-info">
                            <p>{{user.email}}</p>
                            <p>Favorite Movies: 10</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>